# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Uploads
uploads/banner_image/*
uploads/brands/*
uploads/category/*
uploads/products/*
uploads/builder/*
uploads/bulkupload/*
uploads/invoice/*
uploads/review_assets/*
uploads/subcategory/*
uploads/tag/*
uploads/themes/*
uploads/users/*
uploads/vendors/*
uploads/flags/*
uploads/vendor-staff/*
uploads/exchange-images/*
uploads/refund-images/*
uploads/pages/*
uploads/fonts/*
uploads/blog-category/*
uploads/assets/*
uploads/downloadable/*
uploads/invoice/*
uploads/export_products/*
uploads/asset-group/images/*
uploads/asset-group/logos/*
uploads/asset-group/videos/*
models/plandata.json

# Admin Export Module
# uploads/export_brand/*
# uploads/export_category/*
# uploads/export_tags/*
# uploads/export_users/*
# uploads/export_vendors/*
# uploads/export_products/*

# Vendor Export Module
# uploads/vendor_exports/export_brand/*
# uploads/vendor_exports/export_category/*
# uploads/vendor_exports/export_tags/*
# uploads/vendor_exports/export_products/*

# Files
/config.js
package-lock.json
/bin/www
/lost+found
/models/*
/script.sh


# Node artifact files
node_modules/*
lost+found/*


# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

